<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistema_megacenter.Properties.Settings.TiendaConnectionString"
            connectionString="Data Source=kmilo-PC\SQLEXPRESS;Initial Catalog=Tienda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>